@{
    ViewData["Title"] = "Ema's Dog Walking ";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ema's Dog Walking Services'</h1>
    
    
    <!-- images -->
    <div class="gallery">
        <img src="~/play.jpg" alt="Playing with Dog" width="300" class="img-fluid mb-3">
        <img src="~/leash.jpg" alt="Dog on a leash" width="300" class="img-fluid mb-3">
    </div>

    <!-- paragraphs about my hobby -->
    <p>
        Dog walking is not only a fun hobby for me, but it's also a way for me to stay active and enjoy the outdoors. I love meeting new dogs and spending time with them while getting some exercise. Whether it's a stroll in the park or a quick jog around the neighborhood, it's always a rewarding experience.
    </p>
    <p>
        Caring for dogs goes beyond just walking them, it's about building love. Each dog has its own personality, energy level, and it makes my day to be able to take them on walks. I enjoy seeing their excitement when we explore new routes, play in open fields, or simply take in the fresh air. Knowing that I’m helping dogs stay healthy and happy while giving their owners peace of mind makes this hobby even more fulfilling.
    </p>
</div>

<!-- Footer -->
<footer class="border-top footer text-muted mt-4">
    <div class="container text-center">
        &copy; 2025 Ema's Dog Walking Services | Built by Ema
    </div>
</footer>

